@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
    line-height: 1.5;
    /* font-family: 'Fraunces', serif; */
}

.burger {
    display: none;
}

img {
    max-width: 100%;
}

.header {
    min-height: 100vh;
    background: url(images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1.5em;
}

nav li {
    list-style: none;
    transition: all 0.5s;
}

.nav-links {
    display: flex;
    gap: 2em;
}

nav li a {
    text-decoration: none;
}

.burger {
    cursor: pointer;
}

.bar {
    display: block;
    height: 2px;
    width: 25px;
    margin: 5px;
    background-color: white;
}

.header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header__text {
    color: #fff;
    font-family: "Fraunces", serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 5px;
    padding-bottom: 2em;
}

.transform,
.standout,
.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
}

.standout {
    position: relative;
    top: 3px;
}

.transform__text,
.standout__text {
    padding: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

.imagess {
    position: relative;
    top: 5px;
}

.text__heading {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.text__desc {
    line-height: 1.7;
    color: hsl(213, 9%, 39%);
}

.transform__link,
.standout__link {
    text-decoration: none;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    color: hsl(212, 27%, 19%);
    font-weight: 900;
}

.transform__link::after {
    content: "";
    width: 110px;
    background-color: hsl(51, 100%, 49%);
    height: 5px;
    display: block;
}

.standout__link::after {
    content: "";
    width: 110px;
    background-color: hsl(7, 99%, 70%);
    height: 5px;
    display: block;
}

.design,
.photography {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1.5;
}

.design {
    background-image: url(images/desktop/image-graphic-design.jpg);
    color: hsl(167, 40%, 24%);
}

.photography {
    background-image: url(images/desktop/image-photography.jpg);
    color: hsl(198, 62%, 26%);
}

.design__heading,
.photography__heading {
    font-family: "Fraunces", serif;
    font-size: 1.5rem;
    font-weight: 900;
}

.design__desc,
.photography__desc {
    padding: 2em 0;
}

.testimonials {
    padding: 3em 0;
}

.testi__heading {
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    color: hsl(213, 9%, 39%);
    letter-spacing: 5px;
    text-align: center;
    font-weight: 700;
}

.clientell {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    align-items: center;
    text-align: center;
}

.client__image {
    width: 60px;
    border-radius: 50%;
}

.client__testimony {
    line-height: 2;
    color: hsl(213, 9%, 39%);
}

.client__name {
    font-size: 1.2rem;
    font-weight: 900;
    font-family: "Fraunces", serif;
    color: hsl(212, 27%, 19%);
}

.client__title {
    font-size: 0.9rem;
    color: hsl(210, 4%, 67%);
}

footer {
    background-color: hsl(168, 54%, 59%);
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo {
    fill: red;
}

.links {
    display: flex;
    gap: 3em;
    padding-top: 2em;
    padding-bottom: 4em;
}

.links a {
    text-decoration: none;
    color: hsl(168, 34%, 41%);
}

.links a:hover {
    color: #fff;
}

.icons {
    display: flex;
    gap: 2em;
}

.icons img:hover {
    fill-opacity: white;
    cursor: pointer;
}

.design,
.photography {
    background-repeat: no-repeat;
    background-size: cover;
}

.clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5em;
}

.imagess {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

nav li a {
    color: white;
}

.contact__link {
    background-color: white;
    padding: 1em;
    color: hsl(212, 27%, 19%);
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    border-radius: 30px;
}

.contact__link:hover {
    background-color: hsla(0, 0%, 100%, 0.3);
    color: white;
}

@media (max-width: 560px) {
    .burger {
        display: block;
        position: absolute;
        z-index: 9999;
        top: 1.5rem;
        right: 1rem;
    }

    .header {
        background: url(images/mobile/image-header.jpg);
    }

    nav li a {
        text-decoration: none;
        color: hsl(212, 27%, 19%);
    }

    .contact__link {
        background-color: hsl(51, 100%, 49%);
    }

    .contact__link:hover {
        background-color: hsl(51, 100%, 49%);
    }

    .nav-links {
        position: fixed;
        inset: 10% 5% 30% 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
        padding: min(30vh, 10rem) 2em;
        background: hsl(0 0% 100%);
        backdrop-filter: blur(1rem);
        transform: translateY(-150%);
        transition: transform 350ms ease-out;
        z-index: 9999;
    }

    .nav-links.active {
        transform: translateY(0%);
    }

    .transform {
        display: flex;
        flex-direction: column-reverse;
    }

    .standout,
    .services,
    .clients {
        display: grid;
        grid-template-columns: 1fr;
    }

    .transform__text,
    .standout__text {
        padding: 3em 2em;
        gap: 2em;
        align-items: center;
    }

    .text__heading,
    .text__desc {
        text-align: center;
    }

    .design {
        background: url(images/mobile/image-graphic-design.jpg);
    }

    .photography {
        background: url(images/mobile/image-photography.jpg);
    }

    .header,
    .design,
    .photography {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .clients {
        padding: 0;
    }

    .imagess {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .imagess {
        position: relative;
        top: 15px;
    }
}
