@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
    /* font-family: 'Fraunces', serif; */
}

img {
    max-width: 100%;
}

.header {
    height: 100vh;
    background: url(images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;
    height: 75px;
}

.nav-links {
    position: fixed;
    width: 90%;
    height: 0vh;
    top: 75px;
    background-color: #fff;
    float: right;
    text-align: center;
    transition: all .5s;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}

nav li {
    list-style: none;
    opacity: 0;
    /* margin: 50px 0; */
    transition: all .5s;
}

nav li a {
    text-decoration: none;
    color: hsl(212, 27%, 19%);
}

#check {
    display: none;
}

#check:checked ~ .nav-links {
    height: 50vw;
}

#check:checked ~ .nav-links li {
    opacity: 1;
}

.burger {
    cursor: pointer;
}

.bar {
    display: block;
    height: 2px;
    width: 25px;
    margin: 5px;
    background-color: white;
}

.header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header__text {
    color: #fff;
    font-family: "Fraunces", serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 5px;
    padding-bottom: 2em;
}

.transform {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.standout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transorm__text,
.standout__text {
    padding: 3em 2em;
}

.text__heading {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    color: hsl(212, 27%, 19%);
}

.text__desc {
    padding: 2em 0;
    text-align: center;
    line-height: 1.7;
    color: hsl(213, 9%, 39%);
}

.transform__link,
.standout__link {
    text-decoration: none;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    color: hsl(212, 27%, 19%);
    font-weight: 900;
}

.transform__link {
    background-image: linear-gradient(120deg, hsl(51, 100%, 49%) 0%, hsl(51, 100%, 49%) 50%);
    
}

.standout__link {
    background-image: linear-gradient(120deg, hsl(7, 99%, 70%) 0%, hsl(7, 99%, 70%) 50%);
}

.transform__link,
.standout__link {
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;
    transition: background-size .5s ease;
}

.transform__link:hover,
.standout__link:hover {
    background-size: 100% 0.6em;
}

.design,
.photography {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1.5;
}

.design {
    background-image: url(images/mobile/image-graphic-design.jpg);
    color: hsl(167, 40%, 24%);
}

.photography {
    background-image: url(images/mobile/image-photography.jpg);
    color: hsl(198, 62%, 26%);
}

.design__heading,
.photography__heading {
    font-family: "Fraunces", serif;
    font-size: 1.5rem;
    font-weight: 900;
}

.design__desc,
.photography__desc {
    padding: 2em 0;
}

.testimonials {
    padding: 3em 0;
}

.testi__heading {
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    color: hsl(213, 9%, 39%);
    letter-spacing: 5px;
    text-align: center;
    font-weight: 700;
}

.clientell {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    align-items: center;
    text-align: center;
}

.client__image {
    width: 60px;
    border-radius: 50%;
}

.client__testimony {
    line-height: 2;
    color: hsl(213, 9%, 39%);
}

.client__details {
    display: grid;
    gap: 1em;
}

.client__name {
    font-size: 1.2rem;
    font-weight: 900;
    font-family: "Fraunces", serif;
    color: hsl(212, 27%, 19%);
}

.client__title {
    font-size: 0.9rem;
    color: hsl(210, 4%, 67%);
}

.imagess {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer {
    background-color: hsl(168, 54%, 59%);
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo  {
    fill: red;
}

.links {
    display: flex;
    gap: 3em;
    padding-top: 2em;
    padding-bottom: 4em;
}

.links a {
    text-decoration: none;
    color: hsl(168, 34%, 41%);
}

.links a:hover {
    color: #fff;
}

.icons {
    display: flex;
    gap: 2em;
}

.icons img:hover {
    fill-opacity: white;
    cursor: pointer;
}

@media (min-width: 760px) {
    .burger {
        display: none;
    }

    .header {
        background: url(images/desktop/image-header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .nav-links {
        display: flex;
        gap: 2em;
    }

    nav li a {
        color: white;
    }

    .contact__link {
        background-color: white;
        padding: 1em;
        color: hsl(212, 27%, 19%);
        font-family: "Fraunces", serif;
        text-transform: uppercase;
        border-radius: 30px;
    }

    .contact__link:hover {
        background-color: hsla(0, 0%, 100%, 0.3);
        color: white;
    }

    .transorm__text,
.standout__text {
    padding: 3em 5em;
}

    .transform,
    .standout,
    .services {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .text__heading,
    .text__desc {
        text-align: left;
    }

    .transform__link,
    .standout__link {
        display: grid;
    }

    .design {
        background: url(images/desktop/image-graphic-design.jpg);
        
    }

    .photography {
        background: url(images/desktop/image-photography.jpg);
        
    }

    .design,
    .photography {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .clients {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 5em;
    }

    .imagess {
        grid-template-columns: repeat(4, 1fr);
    }
}
